.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background: #dddddd;
}

.title {
    font-size: 32px;
    font-weight: 800;
}

#searchBar {
    margin-left: 100px;
    justify-content: right;
}
